body {
  margin: 0;
  padding: 0;
  background-color: #000000; /* Black background color */
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black header */
  transition: background-color 0.5s; /* Transition effect for the background color */
  z-index: 999; /* Ensure the header is on top of other elements */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  font-family: "Epilogue";
}

header.transparent {
  background-color: rgba(0, 0, 0, 0); /* Transparent header */
}

header .left-content {
  display: flex;
  align-items: center;
}

header .left-content span {
  font-size: 24px;
  margin-right: 5px;
  color: #ffffff;
}

header .right-content {
  font-size: 15px;
  color: #ffffff;
  margin-right: 80px;
}

.tab-container {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  margin-right: 40px;
}

.tab-link {
  position: relative;
  display: inline-block;
  text-decoration: none;
  font-size: 15px;
  color: #ffffff;
  margin-right: 50px;
}


.tab-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease;
}

.tab-link:hover::after {
  width: 100%;
  background-color: #1097eb; /* Set the desired color for the bar on hover */
}

.tab-link:hover {
  color: white; /* Set the desired color for the text on hover */
}

section {
  margin-top: 20px; /* Ensure content is below the fixed header */
  color: #ffffff;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 20px;
  font-size: 20px;
  font-family: "Epilogue";
}

.name {
  width: 50%;
  text-align: left;
  padding-right: 20px;
  font-size: 50px;
  margin-left: 40px;
}

.name h2 {
  font-size: 80px;
  margin-top: 150px;
  margin-bottom: 10px;
}

.name p {
  font-size: 16px;
  line-height: 1.5;
}

.name intro {
  font-size: 18px;
  line-height: 2;
  color:rgb(140, 139, 139);
  text-align: justify;
}

.contact-icons {
  margin-top: 5px;
  margin-bottom: 60px;
}

.contact-icons a {
  margin-right: 10px;
  color: #ffffff;
  text-decoration: none;
  font-size: 24px;
}

.contact-icons a:hover {
  color: #1097eb;
}


.paragraph {
  width: 50%;
  text-align: justify;
  margin-top: 100px;
  margin-left: 10px;
  margin-right: 35px;
}

.paragraph h2 {
  font-size: 25px;
  margin-bottom: 10px;
}

.paragraph p {
  font-size: 15px;
  line-height: 2;
  color:rgb(140, 139, 139)
}

.paragraph img {
  display: block;
  margin: 0 auto;
  width: 400px; /* Adjust the width as needed */
  height: auto;
  margin-bottom: 20px;
}

.underscore {
  text-decoration: underline;
}

.projects h2 {
  font-size: 30px;
  margin-top: 100px;
  margin-bottom: 10px;
  margin-left: 40px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.image-container {
  display: flex;
}

.image-wrapper {
  position: relative;
  width: 550px;
  height: 550px;
  margin-right: 20px;
  margin-left: 35px;
  border-radius: 15px; /* Adds round corners */
  overflow: hidden; /* Ensures the round corners are applied to the image wrapper */
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.image-wrapper:hover img {
  transform: scale(1.1);
  filter: brightness(50%);
}

.image-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.image-wrapper:hover .image-overlay {
  opacity: 1;
}

.overlay-text {
  color: #ffffff;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.5s ease;
  transform: translateY(100%);
}

.image-wrapper:hover .overlay-text {
  opacity: 1;
  transform: translateY(0%);
}

.project-title {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 10px;
  transition: transform 0.5s ease;
}

.image-wrapper:hover .project-title {
  transform: translateY(-100%);
}

.project-description {
  font-size: 16px;
}


.about-me {
  width: 50%;
  text-align: justify;
  margin-top: 100px;
  margin-left: 10px;
  margin-right: 35px;
}

.about-me img {
  display: block;
  margin: 0 auto;
  width: 500px; /* Adjust the width as needed */
  height: auto;
  margin-bottom: 20px;
}