body {
  margin: 0;
  padding: 0;
  background-color: #000000; /* Black background color */
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black header */
  transition: background-color 0.5s; /* Transition effect for the background color */
  z-index: 999; /* Ensure the header is on top of other elements */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

header.transparent {
  background-color: rgba(0, 0, 0, 0); /* Transparent header */
}

header .left-content {
  display: flex;
  align-items: center;
}

header .left-content span {
  font-size: 24px;
  margin-right: 5px;
  color: #ffffff;
}

header .right-content {
  font-size: 20px;
  color: #ffffff;
  margin-right: 50px;
}

section {
  margin-top: 80px; /* Ensure content is below the fixed header */
  color: #ffffff;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 20px;
  font-size: 20px;
  font-family: "Lato";
}

.name {
  width: 50%;
  text-align: left;
  padding-right: 20px;
  font-size: 50px;
}

.name h2 {
  font-size: 50px;
  margin-top: 200px;
  margin-bottom: 10px;
  margin-left: 100px;
}

.name p {
  font-size: 16px;
  line-height: 1.5;
}

.paragraph {
  width: 50%;
  text-align: left;
}

.paragraph h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.paragraph p {
  font-size: 14px;
  line-height: 1.5;
  margin-top: 150px;
  margin-left: 100px;
}

.projects h2 {
  font-size: 50px;
  margin-top: 200px;
  margin-bottom: 10px;
  margin-left: 100px;
}

.container {
  display: flex;
  justify-content: center; /* Centers the container horizontally */
  align-items: center; /* Centers the container vertically */
  height: 100vh; /* Adjusts the height of the container */
}

.image-container {
  display: flex;
}

.image-wrapper {
  width: 400px; /* Adjust the width and height as needed */
  height: 400px;
  border-radius: 10px; /* Controls the roundness of the corners */
  overflow: hidden; /* Clips the image to the container */
  position: relative;
  margin-right: 120px; /* Adjust the spacing between the images */
  margin-left: 100px;
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Maintains the aspect ratio of the image */
  transition: transform 0.3s ease; /* Specifies the transition effect */
}

.image-wrapper:hover img {
  transform: scale(1.1); /* Applies a scale transform on hover */
}


